<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/8f6de878db.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <style>
    .card{
        background-color: rgb(235, 66, 94);
      }
    
      a h5{
        color: white;
      }
    
      .badge {
      position: absolute;
      top: 0;
      right: 0;
    }

    .card{
      width: 131px;
      height: 163px;
    }

    #id1{
      color: gray;
      text-decoration: none;
    }
      
    </style>
</head>
<body>
<div class="row">
      <div class="col-sm">
        <nav class="navbar navbar-default" style="background-color: pink;">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand weight-300" href="/Courses/dashboard.html">
                <img src="https://cms.cb.amrita.edu/images/amrita_wide_short_new.png" style="margin-top: -40px; margin-left: 40px;">
            </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/home" id="id1"><i class="fas fa-arrow-left"></i>   Back to courses</a></li>
			      </ul>
          </div>
        </nav>
      </div>
</div>

<div style="background:rgb(234,235,185) !important " class="jumbotron text-center">
  <h3>Welcome to the Dashboard</h3>
  <p>Please select the desired Section</p> 
  <p><%= course.code %></p>
</div>

  
<div class="container">
  <div class="row row-cols-3">
    <div class="col">
      <div class="card mt-5" style="width: 18rem; height: 10rm;">
          <div class="card-body m-auto">
              <a class="nav-link" href="/<%=course._id%>/file/upload" class="card-title" style="padding-top: 60%; padding-bottom: 50%;">
                <span class="badge bg-secondary"><%=course.fileNot%></span></h4>
                <h5 class="card-title p-auto">FILES</h5>
              </a>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card mt-5" style="width: 18rem; height: 10rm;">
        <div class="card-body m-auto">
            <a class="nav-link" href="#" class="card-title" style="padding-top: 50%; padding-bottom: 50%;">
              <span class="badge bg-secondary"><%=course.marksNot%></span></h4>
              <h5 class="card-title p-auto">MARKS</h5>
            </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mt-5" style="width: 18rem; height: 10rm;">
        <div class="card-body m-auto">
            <a class="nav-link" href="#" class="card-title" style="padding-top: 30%; padding-bottom: 50%;">
              <span class="badge bg-secondary"><%=course.assignmentNot%></span></h4>
              <h5 class="card-title p-auto">ASSIGNMENT</h5>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>